service cloud.firestore {
  match /databases/{database}/documents {
    function robsonUser() {
      return request.auth.email.endsWith('@robson.com.pl');
    }
    
    match /{document=**} {
      allow read, write: if robsonUser();
    }
  }
}
